# Dependencias de Node.js
node_modules/

# Dependencias del sistema operativo
.DS_Store
Thumbs.db
desktop.ini
# Ignorar logs generados por Mosquitto
mosquitto/log/
*.log

# Ignorar archivos temporales del sistema
*.tmp